:root {
    --light: #EEE;
    --light-alt: #61759b;
    --dark: #131A26;
    --dark-alt: #202B3E;
    --red: #B22222;
    --green: #228B22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
}

body {
    background-color: var(--dark-alt);
    color: var(--light);
}

.App {
    padding: 16px;
}

h1, h2 {
    font-weight: 700;
}

p {
    margin-bottom: 4px;
    font-weight: 500;
}

audio {
    margin: 8px auto;
}

.nextQuestion, .startButton {
    cursor: pointer;
}

.cover, .cover-red, .cover-green {
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transition: 0.5s;
}

.cover:hover {
    opacity: 0.6;
    cursor: pointer;
}

.cover {
    background-color: var(--dark);
}

.cover-red {
    background-color: var(--red);
}

.cover-green {
    background-color: var(--green);
}

.albumCoversBoard {
    display: inline-grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-items: center;
    padding: 8px;
    grid-gap: 30px;
}
